**/.DS_Store
**/__pycache__
**/target/*
**/test-output/*
**/.settings/
*.project
*.classpath
*.class
*.out
*/svn/*
**/*.iml
**/.idea/*
**/*.txt
data/*
**/data/*
**/.DS_Store
*.log
**/*.jpeg
**/*.tsv
**/*.ipynb
**/*.html
**/*.swp
**/*.jpg
**/.ipynb_checkpoints/*
*.csv

